################################################################################
#                                                                              #  
# Copyright (C) 2009-2011 Institute of Meteorology and Water Management, IMGW  # 
#                                                                              #
# This file is part of the BaltradDex software.                                #
#                                                                              #
# BaltradDex is free software: you can redistribute it and/or modify           # 
# it under the terms of the GNU Lesser General Public License as published by  #  
# the Free Software Foundation, either version 3 of the License, or            #
# (at your option) any later version.                                          #
#                                                                              #
# BaltradDex is distributed in the hope that it will be useful,                #
# but WITHOUT ANY WARRANTY; without even the implied warranty of               # 
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                # 
# GNU Lesser General Public License for more details.                          #
#                                                                              #
# You should have received a copy of the GNU Lesser General Public License     #
# along with the BaltradDex software.  If not, see http://www.gnu.org/licenses.#
#                                                                              # 
################################################################################

NOTE: The following is a detailed instruction on how to configure your Apache 
Tomcat servlet container to enable secure communication with SSL. Please 
refer to Apache Tomcat documentation for more information about how to configure 
SSL on Tomcat:

http://tomcat.apache.org/tomcat-4.0-doc/ssl-howto.html

Prepare the certificate keystore
--------------------------------------------------------------------------------
To create a new keystore from scratch, containing a single self-signed 
Certificate, execute the following from a terminal command line:

%JAVA_HOME%/bin/keytool -genkey -alias tomcat -keyalg RSA \
		-keystore /path/to/my/keystore

where %JAVA_HOME% points at your JDK installation.

After executing this command, you will first be prompted for the keystore 
password. The default password used by Tomcat is "changeit" (all lower case), 
although you can specify a custom password if you like. 

Next, you will be prompted for general information about this Certificate, 
such as company, contact name, and so on. This information will be displayed 
to users who attempt to access a secure page in your application, so make sure 
that the information provided here matches what they will expect.

Finally, you will be prompted for the key password, which is the password 
specifically for this Certificate (as opposed to any other Certificates stored 
in the same keystore file). You MUST use the same password here as was used for 
the keystore password itself.  

Edit Tomcat configuration file
--------------------------------------------------------------------------------
The next step is to configure your secure socket in the 
$CATALINA_HOME/conf/server.xml file, where $CATALINA_HOME represents the 
directory into which you installed Tomcat. 

First, configure SSL connector: 

<Connector port="8084" protocol="HTTP/1.1" SSLEnabled="true"
           maxThreads="200" scheme="https" secure="true"
           clientAuth="false" sslProtocol="TLS" URIEncoding="UTF-8"
	   keystoreFile="/path/to/my/keystore/keystore.jks" 
	   keystorePass="changeit" keystoreAlias="tomcat"/>

The "port" attribute (default value is 8443) is the TCP/IP port number on which 
Tomcat will listen for secure connections. You can change this to any port 
number you wish. Assuming that you are upgrading your baltrad-node installation,
you will probably prefer to use the same port number as you have been using for
standard, non-secure communication up to now. Make sure that "keystoreFile"
points at your certificate keystore created in the first step, and that
"keystorePass" matches the password set for the keystore.  

Next, configure the non-SSL connector. Please note that the "redirectPort" 
attribute must match the port number configured in SSL connector. Also, make 
sure that different port numbers are configured for standard and SSL connectors.
 
<Connector port="8080" protocol="HTTP/1.1" connectionTimeout="20000"
           redirectPort="8084" URIEncoding="UTF-8" />

After completing these configuration changes, you must restart Tomcat. 
From now on you should be able to access BaltradDex web application via SSL. 
Go to the address bar of your browser and type the following: 	

https://localhost:8084/BaltradDex

Because we are using self-signed certificates, your browser will warn you about
untrusted connection and ask you if you want to add a security exception. 
Confirm security exception to access BaltradDex login page. 

Support and feedback
--------------------------------------------------------------------------------
maciej@baltrad.eu
