<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:security="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.2.xsd" 
        xmlns:aop="http://www.springframework.org/schema/aop">  
       
    <security:http auto-config="true" access-denied-page="/login.htm"> 
        
        <security:port-mappings>
            <security:port-mapping http="8084" https="8443"/>
        </security:port-mappings> 
        
        <!-- Saves sesion ID and enables switching  between http and https -->
        <security:remember-me use-secure-cookie="false" />
        
        <security:form-login login-page="/login.htm" 
                             default-target-url="/status.htm" 
                             authentication-failure-url="/login_failed.htm" 
                             always-use-default-target="true"/>
        
        <security:logout logout-success-url="/logout.htm"/>
                    
        <!-- 
            User pages 
        -->
        <security:intercept-url pattern="/login.htm" requires-channel="https"/>
        <security:intercept-url pattern="/login_failed.htm" requires-channel="https"/>
        <security:intercept-url pattern="/logout.htm" requires-channel="https"/>
        
        <security:intercept-url pattern="/status.htm" access="ROLE_USER" />
        <security:intercept-url pattern="/messages_live.htm" access="ROLE_USER" />
        <security:intercept-url pattern="/messages_table.htm" access="ROLE_USER" />
        <security:intercept-url pattern="/messages_browser.htm" access="ROLE_USER" />
        <security:intercept-url pattern="/datasources.htm" access="ROLE_USER" />
        <security:intercept-url pattern="/datasource_files.htm" access="ROLE_USER" />
        <security:intercept-url pattern="/file_browser.htm" access="ROLE_USER" />
        <security:intercept-url pattern="/file_details.htm" access="ROLE_USER" />
        <security:intercept-url pattern="/file_preview.htm" access="ROLE_USER" />
        <security:intercept-url pattern="/file_download.htm" access="ROLE_USER" />
        <security:intercept-url pattern="/user_settings.htm" access="ROLE_USER" requires-channel="https"/>
        <!-- 
            Operator pages 
        -->
        <security:intercept-url pattern="/node_connect.htm" access="ROLE_OPERATOR" requires-channel="https"/>
        <security:intercept-url pattern="/node_connected.htm" access="ROLE_OPERATOR" requires-channel="https"/>
        <security:intercept-url pattern="/node_datasources.htm" access="ROLE_OPERATOR" requires-channel="https"/>
        
        <security:intercept-url pattern="/subscription_start_status.htm" access="ROLE_OPERATOR" requires-channel="https"/>
        <security:intercept-url pattern="/subscription_peers.htm" access="ROLE_OPERATOR" requires-channel="https"/>
        <security:intercept-url pattern="/subscription_show.htm" access="ROLE_OPERATOR" requires-channel="https"/>
        <security:intercept-url pattern="/subscription_selected.htm" access="ROLE_OPERATOR" requires-channel="https"/>
        <security:intercept-url pattern="/subscription_update_status.htm" access="ROLE_OPERATOR" requires-channel="https"/>
        
        <security:intercept-url pattern="/registry_show.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/adaptors.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/adaptor_show.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/adaptor_create.htm" access="ROLE_OPERATOR" />
        
        <security:intercept-url pattern="/anomaly_detector_create.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/anomaly_detector_show.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/anomaly_detectors.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/anomaly_detector_import.htm" access="ROLE_OPERATOR" />
        
        <security:intercept-url pattern="/routes.htm" access="ROLE_OPERATOR" />
        
        <security:intercept-url pattern="/route_create_bdb_trim_age.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/route_show_bdb_trim_age.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/route_create_bdb_trim_count.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/route_show_bdb_trim_count.htm" access="ROLE_OPERATOR" />
        
        <security:intercept-url pattern="/route_create_composite.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/route_show_composite.htm" access="ROLE_OPERATOR" />
        
        <security:intercept-url pattern="/route_create_distribution.htm" access="ROLE_OPERATOR" />
        
        <security:intercept-url pattern="/route_create_google_map.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/route_show_google_map.htm" access="ROLE_OPERATOR" />
        
        <security:intercept-url pattern="/route_create_groovy.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/route_show_groovy.htm" access="ROLE_OPERATOR" />
        
        <security:intercept-url pattern="/route_create_volume.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/route_show_volume.htm" access="ROLE_OPERATOR" />
        
        <security:intercept-url pattern="/schedule.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/schedule_show_job.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/schedule_create_job.htm" access="ROLE_OPERATOR" />
        
        <!-- DO NOT ACTIVATE interceptor for supervisor since that is using
             host filter checks -->
        <security:intercept-url pattern="/supervisor_settings.htm" requires-channel="https"/>
        <security:intercept-url pattern="/supervisor_add_setting.htm" requires-channel="https"/>
        <security:intercept-url pattern="/supervisor_remove_setting.htm" requires-channel="https"/>
        
        <!-- 
            Admin pages 
        -->
        <security:intercept-url pattern="/messages_sticky.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/radars_show.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/radars_save.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/radars_save_status" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/radars_remove.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/radars_remove_selected.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/radars_remove_status.htm" access="ROLE_ADMIN" requires-channel="https"/>
        
        <security:intercept-url pattern="/datasources_save.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/datasources_edit.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/datasources_save_status" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/datasources_remove.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/datasources_remove_selected.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/datasources_remove_status.htm" access="ROLE_ADMIN" requires-channel="https"/>
        
        <security:intercept-url pattern="subscription_remove_downloads_peers.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/subscription_remove_downloads.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/subscription_remove_uploads.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/subscription_remove_selected_downloads.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/subscription_remove_selected_uploads.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/subscription_remove_downloads_status.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/subscription_remove_uploads_status.htm" access="ROLE_ADMIN" requires-channel="https"/>
        
        <security:intercept-url pattern="/registry_configure.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/registry_delete.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/registry_delete_status.htm" access="ROLE_ADMIN" requires-channel="https"/>
        
        <security:intercept-url pattern="/messages_configure.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/messages_delete.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/messages_delete_status.htm" access="ROLE_ADMIN" requires-channel="https"/>
        
        <security:intercept-url pattern="/user_save.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/user_save_status.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/user_edit.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/user_remove.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/user_remove_selected.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/user_remove_status.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/user_change_password.htm" access="ROLE_ADMIN" requires-channel="https"/>
        <security:intercept-url pattern="/user_change_password_status.htm" access="ROLE_ADMIN" requires-channel="https"/>
        
        <security:intercept-url pattern="/keystore.htm" access="ROLE_ADMIN" requires-channel="https"/>
        
        <security:intercept-url pattern="/node_settings.htm" access="ROLE_ADMIN" requires-channel="https"/>
    
    </security:http>

    <!-- We keep the authentication context in a specific file so that we can replace it with
         site specific authentication mechanisms -->
    <beans:import resource="authenticationContext.xml" />
        
    <beans:bean id="userManager" 
                class="eu.baltrad.dex.user.manager.impl.UserManager"
                autowire="byType">          
    </beans:bean>
    
    <beans:bean id="jdbcTemplate" 
          class="org.springframework.jdbc.core.JdbcTemplate">
        <beans:constructor-arg ref="dataSource"/>
    </beans:bean>
    
    <beans:bean id="dataSource" destroy-method="close" 
          class="org.apache.commons.dbcp.BasicDataSource">
        <beans:property name="driverClassName" value="${db.driver}"/>
        <beans:property name="url" value="${db.url}"/>
        <beans:property name="username" value="${db.user}"/>
        <beans:property name="password" value="${db.pwd}"/>
    </beans:bean>
    
    <beans:bean id="propertyConfigurer" 
                class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <beans:property name="locations">
            <beans:list>
                <beans:value>db.properties</beans:value>
            </beans:list>
        </beans:property>
    </beans:bean>
    
    <beans:bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"> 
       <beans:property name="maxUploadSize" value="50000000"/> <!-- File size in bytes. -->
    </beans:bean> 

</beans:beans>