<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:security="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-2.0.1.xsd" 
        xmlns:aop="http://www.springframework.org/schema/aop">  
       
    <security:http auto-config="true" access-denied-page="/login.htm"> 
        <security:form-login login-page="/login.htm" 
                             default-target-url="/home.htm" 
                             authentication-failure-url="/login_failed.htm" 
                             always-use-default-target="true"/>
        <security:logout logout-success-url="/logout.htm"/>
        <!-- 
            User pages 
        -->
        <security:intercept-url pattern="/home.htm" access="ROLE_USER" />
        <security:intercept-url pattern="/latest_messages.htm" access="ROLE_USER" />
        <security:intercept-url pattern="/system_messages.htm" access="ROLE_USER" />
        <security:intercept-url pattern="/logtable.htm" access="ROLE_USER" />
        <security:intercept-url pattern="/data_download.htm" access="ROLE_USER" />
        <security:intercept-url pattern="/data_upload.htm" access="ROLE_USER" />
        <security:intercept-url pattern="/show_datasources.htm" access="ROLE_USER" />
        <security:intercept-url pattern="/browse_files.htm" access="ROLE_USER" />
        <security:intercept-url pattern="/datasource_files.htm" access="ROLE_USER" />
        <security:intercept-url pattern="/file_details.htm" access="ROLE_USER" />
        <security:intercept-url pattern="/data_preview.htm" access="ROLE_USER" />
        <security:intercept-url pattern="/download.htm" access="ROLE_USER" />
        <security:intercept-url pattern="/user_settings.htm" access="ROLE_USER" />
        <!-- 
            Operator pages 
        -->
        <security:intercept-url pattern="/exchange.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/processing.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/connect_to_node.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/node_connected.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/selected_datasource.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/subscribed_peers.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/subscription_by_peer.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/selected_subscription.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/subscription_status.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/registry.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/adaptors.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/anomalydetector_create.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/anomalydetector_show.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/anomalydetectors.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/bdbtrimageroute_create.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/bdbtrimageroute_show.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/bdbtrimcountroute_create.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/bdbtrimcountroute_show.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/compositeroute_create.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/compositeroute_show.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/createadaptor.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/createscheduledjob.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/distributionroute.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/googlemaproute_create.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/googlemaproute_show.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/groovyroute_create.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/groovyroute_show.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/showadaptor.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/showroutes.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/showschedule.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/showscheduledjob.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/volumeroute_create.htm" access="ROLE_OPERATOR" />
        <security:intercept-url pattern="/volumeroute_show.htm" access="ROLE_OPERATOR" />
        <!-- 
            Admin pages 
        -->
        <security:intercept-url pattern="/settings.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/save_radar.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/show_radar.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/save_radar_status" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/remove_radar.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/remove_selected_radar.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/remove_radar_status.htm" access="ROLE_ADMIN" />
        
        <security:intercept-url pattern="/save_datasource.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/edit_datasources.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/save_datasource_status" access="ROLE_ADMIN"/>
        
        <security:intercept-url pattern="/remove_datasource.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/remove_selected_datasource.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/remove_datasource_status.htm" access="ROLE_ADMIN" />
        
        <security:intercept-url pattern="/remove_downloads.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/remove_uploads.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/remove_selected_downloads.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/remove_selected_uploads.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/remove_downloads_status.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/remove_uploads_status.htm" access="ROLE_ADMIN" />
        
        <security:intercept-url pattern="/configure_registry.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/clear_registry.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/clear_registry_status.htm" access="ROLE_ADMIN" />
        
        <security:intercept-url pattern="/configure_messages.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/clear_messages.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/clear_messages_status.htm" access="ROLE_ADMIN" />
        
        <security:intercept-url pattern="/save_user_account.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/save_user_account_status.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/edit_user_account.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/remove_user_account.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/remove_selected_user_account.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/remove_user_account_status.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/change_user_password.htm" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/change_user_password_status.htm" access="ROLE_ADMIN" />

        <security:intercept-url pattern="/node_settings.htm" access="ROLE_ADMIN" />
    </security:http>

    <security:authentication-provider 
                user-service-ref="simpleUserDetailsService">
        <security:password-encoder hash="md5"/>
    </security:authentication-provider>
    
    <beans:bean id="simpleUserDetailsService" 
                class="eu.baltrad.dex.auth.util.SimpleUserDetailsService"
                autowire="byType">          
    </beans:bean>
    
    <beans:bean id="accountManager" 
                class="eu.baltrad.dex.user.manager.impl.AccountManager"
                autowire="byType">          
    </beans:bean>
    
    <beans:bean id="jdbcTemplate" 
          class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate">
        <beans:constructor-arg ref="dataSource"/>
    </beans:bean>
    
    <beans:bean id="dataSource" destroy-method="close" 
          class="org.apache.commons.dbcp.BasicDataSource">
        <beans:property name="driverClassName" value="${db.driver}"/>
        <beans:property name="url" value="${db.url}"/>
        <beans:property name="username" value="${db.user}"/>
        <beans:property name="password" value="${db.pwd}"/>
    </beans:bean>
    
    <beans:bean id="propertyConfigurer" 
                class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <beans:property name="locations">
            <beans:list>
                <beans:value>db.properties</beans:value>
            </beans:list>
        </beans:property>
    </beans:bean>
            
</beans:beans>